$notice-cover-width: 500px;
$news-author-width: 30px;


.news-list {

  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;

  .news {

    .news-description {

      margin-top: 25px;
      font-size: $font-size-large;
      //@include text-overflow-ellipsis;

    }
  }

}
