$notice-cover-width: 500px;
$news-author-width: 30px;

.news-list {

  width: 100%;

  .news-grid {
    width: auto;
    max-width: 1200px;
    background-color: rgba(222, 222, 222, 0.2);
    margin: 0 auto;
    margin-top: 30px;

    .news-detail {

      height: 340px; //Com li dic que ocupi el màxim sense forçar a 300?

      .news-list-picture {
        .cover{ max-width: 100%; max-height: 100%}
      }

      .news-list-body {

        max-height: 400px;

        .news-list-tittle {
          font-size: $font-size-xlarge;
          margin-bottom: 25px;
          font-weight: bold;
          .tittle-text {
            color: black;
          }
        }

        .news-list-author {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          margin-bottom: 20px;

          .author-img {
            width: 40px;

          }

          .author-name {
            font-size: $font-size-medium;
            margin: 0 15px 0 15px;
            color: red;
            font-weight: bold;

          }

          .author-postdate {

            font-size: $font-size-medium;

          }

          .icon{
            margin: 0 5px 0 10px;
            padding-bottom: 5px;
          }

        }

        .news-list-resume {
          font-size: $font-size-large;
          margin-bottom: 25px;
          .tittle-text {
            color: grey
          }
        }
      }
    }
  }
}
